#todo-list {
  margin-top: 2em;

}
.item {
  border: 1px solid #ccc;
  padding: .5em;
  margin-bottom: .5em;
  border-radius: 5px;
  font-size: 2em;
}

.done .fa-square-o {
  display: none;
}

.todo .fa-check-square {
  display: none;
}

.done {
  background-color: #ddd;
  color: #888;
}
